@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

img {
  @apply rounded mx-auto;
}

/* Markdown Image */
.markdown-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.markdown-img-container {
  width: 100%;
}
.markdown-img-container > div {
  position: unset !important;
}
