@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
  z-index: -1;
  overflow: hidden;
  opacity: 0.3;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  @apply rounded mx-auto;
}

/* Markdown Image */
.markdown-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.markdown-img-container {
  width: 100%;
}
.markdown-img-container > div {
  position: unset !important;
}
